@using ProductAllTool.Models.ManageSales;
@using ProductAllTool.Common
@{
    ViewBag.Title = "ChiTietBoSuuTap";
    Layout = "~/Views/Shared/_Layout_V2.cshtml";
}
<style>
    #form_search {
        padding-top: 0px;
        width: 99%;
        margin-left: 0%;
    }

    .form-control {
        margin-bottom: 1px
    }

    .col-md-12 {
        padding: 0
    }

    .col-md-6 {
        padding: 0
    }

    .modal-header .close::before {
        font-size: 0px;
    }
</style>
<!-- Demo styles -->
<style>

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

        .swiper-slide img {
            display: block;
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

    .txtinfo {
        font-size: 13px;
    }

    .swiper-button-prev {
        left: -2 !important
    }

    .swiper-button-next {
        right: -3 !important
    }

    .swiper-slide {
        margin-right: 20px !important;
        width: 15% !important
    }
</style>


<div class="AutoFix">
    <div class="row" id="form_search">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="col-md-4">
                                <label class="redtext">Mã BST</label>
                            </div>
                            <div class="col-md-8" ondblclick="$('#MaBST').val('').trigger('change')">
                                <input class="form-control" id="MaBST" data-live-search="true" onchange=" js_list2()" />
                            </div>
                            <div class="col-md-4">
                                <label class="redtext">Tên BST</label>
                            </div>
                            <div class="col-md-8" ondblclick="$('#TenBST').val('').trigger('change')">
                                <input class="form-control" id="TenBST" onchange=" js_list2()" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-4">
                                <label class="redtext">Category *</label>
                            </div>
                            <div class="col-md-8" ondblclick="$('#cate').val('').trigger('change');js_loadcurrent();">
                                <select id="cate" class="form-control selectpicker" data-live-search="true" onchange="js_GetListtt1()">
                                    <option  >--- Category ---</option>
                                    @if (ViewBag.lst_cate != null)
                                    {
                                        foreach (objCombox box in (List<objCombox>)ViewBag.lst_cate)
                                        {
                                            <option  value="@box.Code">@box.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="redtext">Group * </label>
                            </div>
                            <div class="col-md-8" ondblclick="$('#group').val('').trigger('change');js_loadcurrent();">
                                <select id="group" class="form-control selectpicker" data-live-search="true" onchange="js_GetListtt1()">
                                    <option value="">--- Group ---</option>
                                    @if (ViewBag.lst_Group != null)
                                    {
                                        foreach (objCombox box in (List<objCombox>)ViewBag.lst_Group)
                                        {
                                            <option  value="@box.Code">@box.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="redtext">Function *</label>
                            </div>
                            <div class="col-md-8" ondblclick="$('#Func').val('').trigger('change');js_loadcurrent();">
                                <select id="Func" class="form-control selectpicker" data-live-search="true" onchange="js_GetListtt1();js_loadcurrent()">
                                    <option value="">--- Function ---</option>
                                    @if (ViewBag.lst_Func != null)
                                    {
                                        foreach (objCombox box in (List<objCombox>)ViewBag.lst_Func)
                                        {
                                            <option  value="@box.Code">@box.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="redtext">Range Review</label>
                            </div>
                            <div class="col-md-8" ondblclick="$('#Range').val('').trigger('change');js_loadcurrent();">
                                <select id="Range" class="form-control selectpicker" data-live-search="true" onchange="js_GetListtt1();js_loadcurrent()">
                                    <option value="">--- Range Review ---</option>
                                    @if (ViewBag.lst_RR != null)
                                    {
                                        foreach (objCombox box in (List<objCombox>)ViewBag.lst_RR)
                                        {
                                            <option value="@box.Code">@box.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="redtext">Brand</label>
                            </div>
                            <div class="col-md-8" ondblclick="$('#bard').val('').trigger('change');js_loadcurrent();">
                                <select id="bard" class="form-control selectpicker" data-live-search="true" onchange="js_GetListtt1();js_loadcurrent()">
                                    <option value="">--- Brand ---</option>
                                    @if (ViewBag.lst_brand != null)
                                    {
                                        foreach (objCombox box in (List<objCombox>)ViewBag.lst_brand)
                                        {
                                            <option value="@box.Code">@box.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="redtext">Nguồn nhập</label>
                            </div>
                            <div class="col-md-8" ondblclick="$('#NN').val('').trigger('change');js_loadcurrent();">
                                <select id="NN" class="form-control selectpicker" data-live-search="true" onchange="js_GetListtt1();js_loadcurrent()">
                                    <option value="">--- Nguồn nhập ---</option>
                                    @if (ViewBag.lst_NN != null)
                                    {
                                        foreach (objCombox box in (List<objCombox>)ViewBag.lst_NN)
                                        {
                                            <option value="@box.Code">@box.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="redtext">Mùa vụ</label>
                            </div>
                            <div class="col-md-8" ondblclick="$('#MuaVu').val('').trigger('change');js_loadcurrent();">
                                <select id="MuaVu" class="form-control selectpicker" data-live-search="true" onchange="js_GetListtt1();js_loadcurrent()">
                                    <option value="">--- Mùa vụ ---</option>
                                    @if (ViewBag.lst_MuaVu != null)
                                    {
                                        foreach (objCombox box in (List<objCombox>)ViewBag.lst_MuaVu)
                                        {
                                            <option value="@box.Code">@box.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label>Mã BST: &nbsp;</label> <span id="Ma" class="txtinfo"></span>
                            </div>
                            <div class="col-md-12">
                                <label>Tên BST: &nbsp;</label> <span id="Ten" class="txtinfo"></span>
                            </div>
                            <div class="col-md-12">
                                <label>Category: &nbsp;</label> <span id="Category" class="txtinfo"></span>
                            </div>
                            <div class="col-md-12">
                                <label>Mùa vụ: &nbsp;</label> <span id="Muavu" class="txtinfo"></span>
                            </div>
                            <div class="col-md-12">
                                <label>Đối tượng: &nbsp;</label> <span id="Doituong" class="txtinfo"></span>
                            </div>
                            <div class="col-md-12">
                                <label>Giới tính: &nbsp;</label> <span id="GioiTinh" class="txtinfo"></span>
                            </div>
                            <div class="col-md-12">
                                <label>Thu nhập: &nbsp;</label> <span id="ThuNhap" class="txtinfo"></span>
                            </div>
                            <div class="col-md-12">
                                <label>USP: &nbsp;</label> <span id="USP" class="txtinfo"></span>
                            </div>
                            <div class="col-md-12">
                                <label>Thông điệp: &nbsp;</label> <span id="ThongDiep" class="txtinfo"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <div class="Upload_img">
                                    <input class="form-control" type="hidden" id="imgLink">
                                    <div id="wp_thum_img" style="width:90%; height:169px;object-fit:contain;text-align:center;margin-top:-10px;margin-left:85px">
                                        <div class="img_src" style="">
                                            <img id="thum_img" for="fileUpload" src="" />
                                            <div id="upload_theme" style="margin-top:88px">
                                                <p style="">Ảnh BST/combo</p>
                                            </div>
                                        </div>

                                    </div>
                                    <form id="upload" enctype="multipart/form-data" action="@Url.Action(" uploadImg", "Po" )" method="POST" style="display:none">
                                        <input type="file" style="width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;" name="fileUpload" id="fileUpload" class="inputfile">

                                        <label class="btn btn-success" for="fileUpload" style="width:100%;margin: 10px 0px;font-size:12px"><i class="fa fa-upload" aria-hidden="true"></i>upload</label>
                                    </form>
                                </div>
                            </div>
                            <div style="margin-top:180px;margin-left:5px">
                                <div class="col-md-6">
                                    <label>Mã hàng: &nbsp;</label> <span id="item_codeinfo" class="txtinfo"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Tên hàng: &nbsp;</label> <span id="item_nameinfo" class="txtinfo"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Giá bán: &nbsp;</label> <span id="price_info" class="txtinfo"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Số lượng tồn: &nbsp;</label> <span id="slton_info" class="txtinfo"></span>
                                </div>


                                <div class="col-md-6"> 
                                    <a id="btnAdd" href="#" onclick="js_add()" class="form-control btn btn-info" style="max-width:100px;float:right">Add BST </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-12 stretch-card pl-0 pr-0" style="height:320px;overflow-y:auto">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="table-responsive" id="div-content">
                                @Html.Partial("~/Views/ThucTap/Partial/__ChiTietBoSuuTap.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 40px;">
                    <div class="col-md-11" id="">
                        <!-- Swiper -->
                        <div class="swiper-button-next showicon" style="display:none"></div>
                        <div class="swiper mySwiper mySwiper1" style="width: 515px">
                            <div class="swiper-wrapper" id="productcurrent">
                            </div>
                            <div class="swiper-pagination" style="display:none"></div>
                        </div>
                        <div class="swiper-button-prev showicon" style="display:none"></div>
                    </div>
                </div>
                <div class="" style="margin-top: 50px;margin-left: 20px;">
                    <a class="btn btn-primary" onclick="js_update()">Cập nhật BST/Combo</a>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="IDparent" type="hidden" class="form-control" />

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="~/Resource/js/swiper-bundle.min.js"></script>
<script>

    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 5,
        spaceBetween: 30,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },

    });

    var swiper1 = new Swiper(".mySwiper1", {
        slidesPerView: 5,
        spaceBetween: 30,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },

        navigation: {
            nextEl: ".next1",
            prevEl: ".prev1",

        },
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#txtHead').html("Chi Tiết Bộ sưu tập");
        js_GetListtt1();
        js_list2();
        js_loadcurrent();
    });
    function js_ReloadTable() {
        $('#tbl_Item')
            .DataTable({
                lengthMenu: [[5, 10, 50, 70, 100, -1], [5, 10, 50, 70, 100]],
                columnDefs: [],
                autoWidth: false,
                "searching": false,
                order: [[0, "desc"]],
                "pageLength": 20
            });
    }

    function js_GetListtt1() {
        window.scrollTo(0, 0);
        var cate = $("#cate").val();
        var group = $("#group").val();
        $.ajax({
            url: '/ThucTap/GetListCat',
            type: 'POST',
            data: JSON.stringify({ Category: cate, Group: group }),
            contentType: 'application/json, charset=utf-8',
            beforeSend: function () {
                js_Loading(true, 1);
            },
            success: function (data) {
                console.log(data);
                $('#div-content').html(data);
                js_ReloadTable();
                js_Loading(false, 1);
            },
            error: function () {
                js_Loading(false, 1);
            }
        });
    }
    function js_list2() {
        var MaBST = $("#MaBST").val();
        var TenBST = $("#TenBST").val();
        $.ajax({
            url: '/ThucTap/getListTK_BSTT',
            type: 'POST',
            data: JSON.stringify({ MaBST: MaBST, TenBST: TenBST }),
            contentType: 'application/json, charset=utf-8',
            beforeSend: function () {
                js_Loading(true, 1);
            },
            success: function (data) {
                $('#Ma').html(data[0].Code);
                $('#Ten').html(data[0].Name);
                $('#Category').html(data[0].Category);
                $('#Muavu').html(data[0].MuaVu);
                $('#Doituong').html(data[0].DoiTuong);
                $('#GioiTinh').html(data[0].GioiTinh);
                $('#ThuNhap').html(data[0].ThuNhap);
                $('#USP').html(data[0].USP);
                $('#ThongDiep').html(data[0].ThongDiep);
                js_Loading(false, 1);

            },
            error: function () {
                js_Loading(false, 1);
            }
        });
    }

    function js_loadcurrent() {

        var Func = $("#Func").val();
        var Range = $("#Range").val();
        var bard = $("#bard").val();
        var NN = $("#NN").val();
        var MuaVu = $("#MuaVu").val();

        if (cate.length > 0 || group.length > 0 || Func.length > 0) {


            $.ajax({
                url: '/ThucTap/getListIMG',
                type: 'POST',
                data: JSON.stringify({ Function: Func, RangeRieview: Range, Band: bard, NguonNhap: NN, MuaVu: MuaVu }),
                contentType: 'application/json, charset=utf-8',
                beforeSend: function () {
                    js_Loading(true, 1);
                },
                success: function (data) {

                    if (data instanceof Object && data !== null && data.length) {
                        var i = 1;
                        let str0 = '';
                        $('#item_codeinfo').html(data[0].Code);
                        $('#item_nameinfo').html(data[0].Name);
                        $('#price_info').html(data[0].giabanall);
                        $('#slton_info').html(data[0].slton);
                        $('#imgLink').val(data[0].hinhanh);
                        $('#upload_theme').hide();
                        $('.showicon').show();
                        $('#thum_img').css({ "width": "90%", "object-fit": "contain", "height": "180px" });
                        $('#thum_img').attr("src", data[0].hinhanh);
                        $('#thum_img').show();

                        $.each(data, (index, value) => {
                            let tr =
                                `<div class="swiper-slide Thutu` + i + `" ><img onclick ="js_nextSP01(` + value.Code + `)" src="` + value.hinhanh + `" /><input id="MaHang" type="hidden" value="` + value.Code + `" /></div>`;
                            str0 += tr;
                            i++;
                        });

                        $('#productcurrent').empty().html(str0);
                    } else {
                        $('#productcurrent').empty();
                    }
                    js_Loading(false, 1);
                },
                error: function () {
                    js_Loading(false, 1);
                }
            });
        }

    }
    function js_colectinfo() {

        $.ajax({
            url: '/ThucTap/GetListcollectionnext',
            type: 'POST',
            data: JSON.stringify({ mahang: MaHangnext }),
            contentType: 'application/json, charset=utf-8',
            beforeSend: function () {
                js_Loading(true, 1);
            },
            success: function (data) {
                console.log(data);
                $('#item_codeinfo').html(data[0].Code);
                $('#item_nameinfo').html(data[0].Name);
                $('#price_info').html(data[0].giabanall);
                $('#slton_info').html(data[0].slton);
                $('#imglink').val(data[0].hinhanh);

                $('#upload_theme').hide();
                $('#thum_img').css({ "width": "100%", "object-fit": "contain", "height": "180px" });
                $('#thum_img').attr("src", data[0].hinhanh);
                $('#thum_img').show();

                js_Loading(false, 1);

            },
            error: function () {
                js_Loading(false, 1);
            }
        });
    }
@*    function js_nextSP() {
        var active = $('.swiper-pagination-bullet-active').data('id');
        var MaHangnext = $('.Thutu' + active + '#MaHang').val();
        //alert(MaHangnext);

        $.ajax({
            url: '/ThucTap/GetListcollectionnext',
            type: 'POST',
            data: JSON.stringify({ mahang: MaHangnext }),
            contentType: 'application/json, charset=utf-8',
            beforeSend: function () {
                js_Loading(true, 1);
            },
            success: function (data) {
                console.log(data);
                $('#item_codeinfo').html(data[0].Code);
                $('#item_nameinfo').html(data[0].Name);
                $('#price_info').html(data[0].giabanall);
                $('#slton_info').html(data[0].slton);
                $('#imglink').val(data[0].hinhanh);

                $('#upload_theme').hide();
                $('#thum_img').css({ "width": "100%", "object-fit": "contain", "height": "180px" });
                $('#thum_img').attr("src", data[0].hinhanh);
                $('#thum_img').show();

                js_Loading(false, 1);

            },
            error: function () {
                js_Loading(false, 1);
            }
        });
    }*@

    function js_nextSP01(Code) {

        $.ajax({
            url: '/ThucTap/GetListcollectionnext',
            type: 'POST',
            data: JSON.stringify({ mahang: Code }),
            contentType: 'application/json, charset=utf-8',
            beforeSend: function () {
                js_Loading(true, 1);
            },
            success: function (data) {
                console.log(data);
                $('#item_codeinfo').html(data[0].Code);
                $('#item_nameinfo').html(data[0].Name);
                $('#price_info').html(data[0].giabanall);
                $('#slton_info').html(data[0].slton);
                $('#imglink').val(data[0].hinhanh);

                $('#upload_theme').hide();
                $('#thum_img').css({ "width": "100%", "object-fit": "contain", "height": "180px" });
                $('#thum_img').attr("src", data[0].hinhanh);
                $('#thum_img').show();

                js_Loading(false, 1);

            },
            error: function () {
                js_Loading(false, 1);
            }
        });

    }

    function js_update() {
        //debugger;

        var cboxes = document.getElementsByName('check[]');
        var arrCheckbox = [];
        var i = 0;
        for (var i = 0; i < cboxes.length; i++) {
            if (cboxes[i].checked) {
                var dc = {};
                dc.id = cboxes[i].value;
                dc.slcombo = $('#slcombo' + cboxes[i].id).val();


                console.log(dc);
                arrCheckbox.push(dc);
            }
        }
        console.log('1');

        console.log(arrCheckbox);

        if (arrCheckbox.length == 0) {
            alert("Vui lòng chọn ít nhất 1 bản ghi.");
            return;
        }
        console.log('2');

        if (arrCheckbox.length > 0) {
            $.ajax({
                url: '/ThucTap/UpdateSL',
                type: 'POST',
                data: JSON.stringify({ lst: arrCheckbox }),
                contentType: 'application/json, charset=utf-8',
                beforeSend: function () {
                    js_Loading(true, 1);
                },
                success: function (data) {
                    if (data == 1) {
                        alert("Điều chỉnh thành công");
                        $('#Detail_modal').modal('hide');
                        js_GetListtt1();
                        js_Loading(false, 1);
                    }
                },
                error: function () {
                    js_Loading(false, 1);
                }

            });
        }
    }


    function js_add() {
        var lst = {};
        lst.code = $('#Ma').html();
        lst.name = $('#Ten').html();
        lst.MaHang = $('#item_codeinfo').html();
        lst.TenHang = $('#item_nameinfo').html();
        lst.price = $('#price_info').html();
        lst.imglink = $('#imgLink').val();
        //lst.slcombo = $('#slton_info').html();
        lst.slcombo = 1;
        lst.catcode = $('#Category').html();

        console.log(lst);
        $.ajax({
            url: '/ThucTap/BSTCreateBST',
            type: 'POST',
            data: JSON.stringify({ lst: lst }),
            contentType: 'application/json, charset=utf-8',
            beforeSend: function () {
                js_Loading(true, 1);
            },
            success: function (data) {
                if (data) {
                    alert("Add thanh cong");
                    //js_GetListDBST();
                } else {
                    alert("Có lỗi xảy ra");
                }
                js_Loading(false, 1);
            },
            error: function () {
                js_Loading(false, 1);
            }
        });
    }


</script>