@using System.Data
@using ProductAllTool.Models.ManageSales;

<link href="~/Resource/Content/css/thickbox.css" rel="stylesheet" />
<script src="~/Resource/Scripts/thickbox.js"></script>
<table id="tbl_Item" class="table table-bordered" style="width:69.9%">
    <thead>
        <tr>
            <th class="text-left" style="vertical-align: top">
                Category
            </th>
            <th class="text-left" style="vertical-align: top">
                Group
            </th>
            <th class="text-left" style="vertical-align: top">
                Function
            </th>
            <th class="text-left" style="vertical-align: top">
                STT
            </th>
            <th class="text-left" style="vertical-align: top">
                Mã hàng
            </th>
            <th class="text-left" style="vertical-align: top">
                Tên Hàng
            </th>
            <th class="text-left" style="vertical-align: top">
                Đơn Giá
            </th>
            <th class="text-left" style="vertical-align: top">
                Số lượng combo
            </th>
            <th class="text-left" style="vertical-align: top">
                Thao tác <br />
                <input type="checkbox" id="checkall" name="check" onchange="checkall()" />
            </th>
        </tr>
    </thead>
    <tbody>

        @{
            if (Model != null)
            {
                var dt = Model as DataTable;
                if (dt.Rows.Count > 0)
                {
                    var i = 0;
                    foreach (DataRow item in dt.Rows)
                    {
                        <tr id="row_@i">
                            <td class="text-left" style=" overflow: hidden; white-space: nowrap">
                                <span class="">@item["catname"]</span>
                            </td>
                            <td class="text-left" style=" overflow: hidden; white-space: nowrap">
                                @item["groupname"]
                            </td>
                            <td class="text-left" style=" overflow: hidden; white-space: nowrap">
                                @item["functname"]
                            </td>
                            <td class="text-left" style=" overflow: hidden; white-space: nowrap">
                                @item["STT"]
                            </td>
                            <td class="text-left" style=" overflow: hidden; white-space: nowrap">
                                @item["Code"]
                            </td>
                            <td class="text-left" style="width: 50px; max-width: 50px; overflow: hidden; white-space: nowrap">
                                @item["Name"]
                            </td>
                            <td class="text-left" style="  overflow: hidden;white-space: nowrap">
                                @item["GiaBanAll"]
                            </td>
                            <td class="text-left" style="  overflow: hidden;white-space: nowrap">
                                <input type="text" id="slcombo_@i" value="@item["slcombo"]" />
                            </td>
                            <td class="text-left" style="  overflow: hidden;white-space: nowrap">
                                <input id="_@i" class="text-center" name="check[]" type="checkbox" value="@item["ID"]" />
                                @*<button class="btn btn-primary" onchange="js_approve()">Update</button>*@
                                @*<button class="btn btn-danger">Delete</button>*@
                            </td>
                        </tr>
                        i++;
                    }
                }
            }
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>
<script>
    function checkall() {
        var cboxes = document.getElementsByName('check[]');
        for (var i = 0; i < cboxes.length; i++) {
            if ($('#checkall').is(":checked")) {
                cboxes[i].checked = true;
            }
            else {
                cboxes[i].checked = false;
            }
        }
    }
</script>