@using System.Data
@using ProductAllTool.Models.ManageSales;

<link href="~/Resource/Content/css/thickbox.css" rel="stylesheet" />
<script src="~/Resource/Scripts/thickbox.js"></script>
<table id="" class="table table-bordered" style="width:99.9%">
    <thead>
        <tr>
            <th class="text-left" style="vertical-align: top">
                Loại
            </th>
            <th class="text-left" style="vertical-align: top">
                Ngày
            </th>
            <th class="text-left" style="vertical-align: top">
                Ca
            </th>
            <th class="text-left" style="vertical-align: top">
                Nơi Làm
            </th>
            <th class="text-left" style="vertical-align: top">
                Vị Trí
            </th>
            <th class="text-left" style="vertical-align: top">
                Nhận Ca
            </th>
            <th class="text-left" style="vertical-align: top">
                Chọn <br />
                <input type="checkbox" id="checkall" class="text-center" onchange="checkall()" />
            </th>
        </tr>
    </thead>
    <tbody>

        @{
            if (Model != null)
            {
                var dt = Model as DataTable;
                if (dt.Rows.Count > 0)
                {
                    var i = 0;
                    foreach (DataRow item in dt.Rows)
                    {
                        <tr id="row_@i">
                            <td class="text-left" style="width:65px; max-width: 65px;  overflow: hidden;white-space: nowrap">
                                @item["LoaiCa"]
                            </td>
                            <td class="text-left" style="width: 100px; max-width: 100px;  overflow: hidden;white-space: nowrap">
                                @item["Ngay"]
                            </td>
                            <td class="text-right" style="width: 40px;">
                                @item["Ca"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["NoiLam"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["TenPB"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["NhanCa"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                <input id="_@i" class="text-center" name="check[]" type="checkbox" value="@item["Ca"]" />
                            </td>
                        </tr>
                        i++;
                    }
                }
            }
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>
<script>
    function checkall() {
        var cboxes = document.getElementsByName('check[]1');
        for (var i = 0; i < cboxes.length; i++) {
            if ($('#checkall').is(":checked")) {
                cboxes[i].checked = true;
            }
            else {
                cboxes[i].checked = false;
            }
        }
    }
</script>

