@using System.Data

<table class="table table-bordered table-sm" id="tbl_Item">
    <thead class="table-success text-center">
        <tr>
            <th>NCC</th>
            <th>Tên hàng</th>
            <th>Function</th>
            <th>Đặt cược</th>
            <th>Giá mua(-VAT)</th>
            <th>Line Discount(%)</th>
            <th>VAT(%)</th>
            <th>Giá mua(+VAT)</th>
            <th>Giá bán niêm yết</th>
            <th>người duyệt</th>
            <th>Ngày duyệt</th>
            <th>Trạng thái</th>
            <th>
                Hành động
                <input type="checkbox" id="checkall" name="check" onchange="checkall()" />
            </th>
        </tr>
    </thead>
    <tbody>

        @{
            if (Model != null)
            {
                var dt = Model as DataTable;
                if (dt.Rows.Count > 0)
                {
                    var i = 0;
                    foreach (DataRow item in dt.Rows)
                    {
                        <tr id="row_@i">
                            <td class="text-left" style="width:40px; max-width: 40px;  overflow: hidden;white-space: nowrap" id="ngay_@i">
                                @item["NCC"]
                            </td>
                            <td class="text-left" style="width: 100px; max-width: 100px;  overflow: hidden;white-space: nowrap">
                                @item["TenHang"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px; overflow: hidden; white-space: nowrap ">
                                @item["Func"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px; overflow: hidden; white-space: nowrap ">
                                @item["GiaCuoc"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["GiaMua1"]
                            </td>
                            <td class="text-left" style="width: 30px; max-width: 30px;  overflow: hidden;white-space: nowrap">
                                @item["Line"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["VAT"]
                            </td>
                            <td class="text-left" style="width: 30px; max-width: 30px;  overflow: hidden;white-space: nowrap">
                                @item["GiaMua2"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["GiaNiemYet"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["NguoiDuyet"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["NgayDuyet"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["TrangThai"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                <input id="_@i" class="text-center" name="check[]" type="checkbox" value="@item["ID"]" />
                            </td>
                        </tr>
                        i++;
                    }
                }
            }
        }
    </tbody>
</table>

<script>
    function checkall() {
        var cboxes = document.getElementsByName('check[]');
        for (var i = 0; i < cboxes.length; i++) {
            if ($('#checkall').is(":checked")) {
                cboxes[i].checked = true;
            }
            else {
                cboxes[i].checked = false;
            }
        }
    }
</script>