<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @{
        Layout = null;
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
    }
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .box_01 {
            border-left: 7px double #545151;
            margin-top: 373px;
            margin-left: 17px;
        }

            .box_01 p {
                text-transform: uppercase;
                font-size: 42px;
                color: #ffffff;
                padding-left: 23px;
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }

        .box_2 {
            color: #eae6e6;
            margin-top: 55px;
            margin-left: 17px;
        }

            .box_2 ul li {
                list-style: none;
                font-size: 14px;
                font-style: italic;
            }

            .box_2 p {
                font-size: 14px;
                font-style: italic;
            }

            .box_2 ul {
                margin-left: -25px;
            }

        .button_start {
            float: right;
            margin-top: 83px;
        }

            .button_start a {
                background-color: #e9e8e7;
                padding: 15px 44px;
                color: #969696;
                font-size: 14px;
            }

                .button_start a:hover {
                    text-decoration: none;
                }

        .wrap-login100 {
            width: 60%;
            margin: 0 auto;
            padding: 0px 60px 53px;
            margin-top: 110px;
            margin-bottom: 230px;
        }

            .wrap-login100 h3 {
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                color: #ffffff;
                font-size: 69px;
                margin-bottom: 69px;
            }

        .text_change_pass a {
            color: #fff;
            padding: 11px;
            display: block;
            font-style: italic;
            font-size: 13px;
        }

        #myForm label {
            color: #ffffff;
            font-size: 15px;
        }

        .bt_login {
            text-align: center;
        }

            .bt_login input {
                background-color: #fff0;
                border: 1px solid #eae6e6;
                color: #ffffff;
                padding: 8px;
                /* padding: 8px 110px;*/
                text-transform: uppercase;
                margin-top: 10px;
            }

        .text_change_pass {
            text-align: center;
        }

        html {
            height: 100%;
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            position: relative;
            min-height: 100%;
            background-image: url('../../image/bg01.png');
            background-color: #828383; /* Used if the image is unavailable */
            height: 657px; /* You must set a specified height */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            /*background-size: cover;*/
            background-size: contain;
        }

        .ct {
            margin: 0 auto;
            padding-top: 32px;
            width: 94%;
        }

        .menu_footer ul li {
            list-style: none;
            float: left;
            padding-right: 10px;
        }

            .menu_footer ul li a {
                color: #eae6e6;
                font-size: 14px;
            }

        .menu_footer ul {
            width: 500px;
            margin: 0 auto;
            margin-top: -10px;
        }

            .menu_footer ul li span {
                padding-left: 10px;
            }

        .footer {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
            background-color: transparent;
            text-align: center;
        }

        .flag img {
            width: 20px;
        }

        .logo img {
            width: 250px;
        }

        .text_login a {
            padding-right: 10px;
        }

        .header_top {
            margin-top: 52px;
        }

        .menu_login li {
            list-style: none;
            float: left;
            padding-right: 16px;
        }

            .menu_login li a {
                color: #fff;
                font-size: 14px;
            }

        .menu_login {
            float: right;
        }

        .f-nav { /* To fix main menu container */
            z-index: 9999;
            /*  position: fixed;*/
            left: 0;
            top: 0;
            width: 100%;
        }

        .logo img {
            width: 250px;
        }

        .header_title {
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            font-size: 22px;
            font-weight: bold;
        }

        .header_vender {
            background-color: transparent;
            padding: 18px 0px;
        }

        .text_home {
            float: right;
            margin-top: 18px;
        }

            .text_home a {
                font-size: 12px;
                color: #fff;
            }

            .text_home p {
                font-size: 12px;
                color: #fff;
                display: inline;
                margin-right: 20px;
            }

        #wp_logo {
            text-align: center;
            padding: 52px 0px;
        }
    </style>
</head>
<body>
    <div class="body-content_4">

        <div class="logo" id="wp_logo"><a href="/Home/Index"><img src="/image/bibologo.png"></a></div>

        <div class="content_home ct">
            <div class="container">
                <div class="row">
                    <div class="limiter">
                        <div class="container-login100">
                            <div class="wrap-login100">
                                <h3>BIBO SMART</h3>
                                <form class="login100-form validate-form" method="POST" id="myForm">
                                    @if (Session["err"] != null)
                                    {
                                        <p style="color:red">@Session["err"].ToString()</p>
                                    }

                                    @Html.AntiForgeryToken()
                                    <div class="wp_row">
                                        <div class="row" style="margin-bottom: 10px;">
                                            <div class="col-md-2 col-ms-2">
                                                <label for="uid">Tài khoản</label>
                                            </div>

                                            <div class="col-md-10 col-ms-10">
                                                <input class="form-control" type="text" id="uid" name="uid">
                                                <span class="focus-input100"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2 col-ms-2">
                                                <label for="pwd">Mật khẩu</label>
                                            </div>

                                            <div class="col-md-10 col-ms-10">
                                                <input type="password" class="form-control" id="pwd" name="pwd">
                                                <span class="focus-input100"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2 col-ms-2">
                                            </div>
                                            <div class="col-md-10 col-ms-10">
                                                <div class="bt_login" style="width: 100%">
                                                    <input style="width:100%" type="submit" class="login100-form-btn" value="đăng nhập">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="menu_footer footer">
            <ul>
                <li><a href="#">Bibomart.com<span>|</span></a></li>
                <li><a href="#">Bibo family<span>|</span></a></li>
                <li><a href="#">Mạng lưới<span>|</span></a></li>
                <li><a href="#">Câu hỏi thường gặp</a></li>
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">
    $(function () {
        window.onload = function () {
            history.replaceState("", "", "");
        }
    });

</script>


