@using System.Data
@using ProductAllTool.Models.ManageSales;

<link href="~/Resource/Content/css/thickbox.css" rel="stylesheet" />
<script src="~/Resource/Scripts/thickbox.js"></script>
<table id="tbl_Item" class="table table-bordered" >
    <thead>
        <tr class="bg-primary">
            <th class="text-left " style="vertical-align: top">
                Category
            </th>
            <th class="text-left" style="vertical-align: top">
                Group
            </th>
            <th class="text-left" style="vertical-align: top">
                Function
            </th>
            <th class="text-left" style="vertical-align: top">
                STT
            </th>
            <th class="text-left" style="vertical-align: top">
                Mã hàng
            </th>
            <th class="text-left" style="vertical-align: top">
                Tên hàng
            </th>
            <th class="text-left" style="vertical-align: top">
                Giá bán
            </th>
            <th class="text-left" style="vertical-align: top">
                SL combo
            </th>
        </tr>
    </thead>
    <tbody>

        @{
            if (Model != null)
            {
                var dt = Model as DataTable;
                if (dt.Rows.Count > 0)
                {
                    var i = 0;
                    foreach (DataRow item in dt.Rows)
                    {
                        <tr id="row_@i">
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["catname"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["groupname"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["functname"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                               @* @item["STT"]*@
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["MaHang"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["TenHang"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["price"]
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["slcombo"]
                            </td>
                        </tr>
                        i++;
                    }
                }
            }
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>


