@using System.Data
@using ProductAllTool.Models.ManageSales;

<link href="~/Resource/Content/css/thickbox.css" rel="stylesheet" />
<script src="~/Resource/Scripts/thickbox.js"></script>
<table id="tbl_Item" class="table table-bordered" style="width:99.9%">
    <thead>
        @{
            if (Model != null)
            {
                var dt = Model as DataTable;
                if (dt.Rows.Count > 0)
                {
                <tr style="background: #ffffff; border-bottom: 1px solid #ddd !important; border-top: 1px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #fff !important;">
                    <td class="text-right" style="border: none !important;"></td>
                    <td class="text-right" style="border: none !important;"></td>
                    <td class="text-right" style="border: none !important;"></td>
                    <td class="text-right" style="border: none !important;"></td>
                    <td class="text-right" style="border: none !important;"></td>
                    <td class="text-right" style="border: none !important;"></td>

                </tr>
                }
            }
        }
    <tr>
        <th class="text-left" style="vertical-align: top">
            Mã BST
        </th>
        <th class="text-left" style="vertical-align: top">
            Tên BST
        </th>
        <th class="text-left" style="vertical-align: top">
            Hình Ảnh
        </th>
        <th class="text-left" style="vertical-align: top">
            SL SKUs
        </th>
        <th class="text-left" style="vertical-align: top">
            Giá Trị
        </th>
        <th class="text-left" style="vertical-align: top">
         Chi Tiết
        </th>


    </tr>
    </thead>
    <tbody>

        @{
            if (Model != null)
            {
                var dt = Model as DataTable;
                if (dt.Rows.Count > 0)
                {
                    var i = 0;
                    foreach (DataRow item in dt.Rows)
                    {
                        <tr id="row_@i">
                            <td class="text-left" style="width:65px; max-width: 65px;  overflow: hidden;white-space: nowrap" id="id_@i">
                                @item["Code"]
                            </td>
                            <td class="text-left" style="width: 100px; max-width: 100px;  overflow: hidden;white-space: nowrap">
                                @item["Name"]
                            </td>
                            <td class="text-right" style="width: 40px;">
                                <img src=" @item["imglink"]"/>
                               
                            </td>
                            <td class="text-left" style="width: 40px; max-width: 40px;  overflow: hidden;white-space: nowrap">
                                @item["slcombo"]
                            </td>
                            <td class="text-left" style="width: 40px;">
                                @item["price"]
                            </td>
                             <td class="text-left" style="width: 40px;">
                                @item["price"]
                            </td>

                        </tr>
                        i++;
                    }
                }
            }
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>
<script>


    //function clearcheck(k) {
    //    var cboxes = document.getElementsByName('check[]');
    //    for (var i = 0; i < cboxes.length; i++) {
    //        if (cboxes[i].checked) {
    //            cboxes[i].checked = false;
    //        }
    //    }
    //    $("#_" + k).prop('checked', true);
    //}
    function checkall() {
        var cboxes = document.getElementsByName('check[]');
        for (var i = 0; i < cboxes.length; i++) {
            if ($('#checkall').is(":checked")) {
                cboxes[i].checked = true;
            }
            else {
                cboxes[i].checked = false;
            }
        }
    }

</script>



